temp*.f
temp*.f90
lib/*
*~
*.o
*.mod

# CMake 
CMakeCache.txt
CMakeFiles

# Compiled Object files
# *.slo
# *.lo

# *.obj
core.*

# Precompiled Headers
# *.gch
# *.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod

# Compiled Static libraries
# *.lai
# *.la

*.a

# *.lib

# Executables
# *.exe

*.out

# *.app

# mac
.DS_Store

tmp/*

#cmake build directory
build/*

#cosmos trace file
trace*

#cosmos binary file
cosmosLinux*
cosmosMac*

#cosmos random seed
Seed

#QGSJET2 data file
qgsdat*
!qgsdat*bz2
